.contato-bg {
    width: 100%;
    height: auto;
}

.contato-title {
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: var(--color-strong);
    letter-spacing: -.75px;
}

.contato-text h2 {
    font-size: 1.7rem;
    font-weight: normal;
    color: var(--color-text);
    margin-bottom: 10px;
    font-weight: normal;
    letter-spacing: -.75px;
}

.contato-text p {
    font-size: 1.5rem;
    color: var(--color-text);
    letter-spacing: -.75px;
    margin-bottom: 20px;
}

.contato-box {
    display: flex;
    justify-content: space-between;
}

.map {
    border-radius: 5px;
    width: 516px;
    height: 469px;
}

.map-container {
    position: relative;
    width: 60%;
}

.endereco-absolute {
    position: absolute;
    border-radius: 5px;
    background: var(--color-strong);
    color: var(--color-text);
    padding: 20px 40px;
    width: 382px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    bottom: 40px;
    left: 67px;
    font-size: 14px;
}

.endereco-absolute-text-1 {
    display: flex;
    flex-direction: column;
}

.endereco-absolute-text-2 {
    gap: 5px;
    display: flex;
    flex-direction: column;
}
  
.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    width: 100%;
    height: 469px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
  
.map-container:hover .map-overlay {
    opacity: 0;
}

.form-box {
    z-index: 10;
    padding: 20px 20px;
    background: var(--color-strong);
    height: auto;
    width: 315px;
    height: 469px;
    border-radius: 5px;
}


.form-box h3 {
    color: var(--color-text);
}

.form-box p {
    color: var(--color-text);
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    border-radius: 5px;
    border: none;
    padding: 10px;
    outline: none;
    margin-bottom: 10px;
    width: 270px;
}

.textarea-msg {
    border-radius: 5px;
    width: 270px;
    outline: none;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}

.form label {
    color: var(--color-text);
}

.contato-btn {
    border: none;
    outline: none;
    color: var(--color-text);
    background: var(--background);
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
    width: 270px;
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .contato-text p {
        font-size: 1rem;
    }
    .contato-box {
        flex-direction: column;
        gap: 20px;
    }
    .map-overlay, .map, .form-box {
        width: 350px;
    }
    .endereco-absolute {
        width: 300px;
        left: 25px;
    }
    .form input, .textarea-msg, .contato-btn {
        width: 310px;
    }
}