.cursos-bg {
    height: auto;
    background: #111;
    color: var(--text-color-light);
}

.padding {
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px 20px;
}

.cursos-box {
    display: flex;
    margin-bottom: 2rem;
    gap: 100px;
    align-items: center;
}

.cursos-box h1 {
    font-size: 6rem;
    color: var(--strong-color);
}

.cursos-box p {
    font-size: 1.5rem;
}

.conhecimentos-box {
    display: flex;
    gap: 378px;
    margin-bottom: 2rem;
}

.conhecimentos-box h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 15px;
}

.conhecimentos-box ul {
    list-style: none;
    font-size: 1.4rem;
    color: #fff;
}

.conhecimentos-box li {
    margin-bottom: 15px;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-form {
    width: 150px;
}

@media (max-width: 950px) {
    .cursos-box {
        flex-wrap: wrap;
        gap: 50px;
    }
    .cursos-box p {
        max-width: 25ch;
    }
}

@media (max-width: 850px) {
    .conhecimentos-box {
        gap: 50px;
    }
}

@media (max-width: 600px) {
    .conhecimentos-box {
        flex-wrap: wrap;
    }
    .cursos-box h1 {
        font-size: 4rem;
    }
    .logo-box {
        justify-content: center;
        gap: 20px;
    }
    .logo-form {
        width: 150px;
    }
}

@media (max-width: 400px) {
    .cursos-box h1 {
        font-size: 3.3rem;
    }
}

@media (max-width: 350px) {
    .cursos-box h1 {
        font-size: 3rem;
    }
}