.header-bg {
    background: var(--background);
}

.header-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: var(--color-text);
    white-space: nowrap;
}

.logo:hover {
    transition: 0.3s;
    color: var(--color-strong);
}

.navbar-menu li {
    list-style: none;
}

.navbar-menu-box {
    display: flex;
    gap: 5px;
    align-items: center;
}

.navbar-menu {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-menu a {
    text-transform: lowercase;
    color: var(--color-text);
    text-decoration: none;
    font-size: 1rem;
}

.btn-toggle {
    margin-left: 10px;
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--background-links);
    cursor: pointer;
}

.btn-toggle:hover {
    transition: 0.4s;
    background: var(--color-strong);
}
  
.btn-toggle-checkbox {
    display: none;
}
  
.btn-toggle-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: url(../img/sun.svg);
    transition: transform 0.2s ease-in-out;
}


.navbar-menu a:hover {
    transition: 0.3s;
    color: var(--color-strong);
}

@media (max-width: 500px) {
    .navbar-menu a {
        font-size: 0.60rem;
    }
}

@media (max-width: 350px) {
    .navbar-menu a {
        font-size: 0.40rem;
    }
}