.hero-bg {
    width: 100%;
    height: auto;
    position: relative;
}

.hero-box-text {
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: -.75px;
    width: 800px;
    margin: 0 auto;
    margin-top: 200px;
    color: var(--color-text);
    position: relative;
    z-index: 9999;
}

.hero-box-text-2 {
    margin-top: 40px;
    font-size: 1.5rem;
    color: var(--color-text);
    position: relative;
    z-index: 99;
}

.bi-arrow-right, .bi-arrow-left {
    color: var(--color-text) !important;
}

@media (max-width: 500px){
    .hero-box-text {
        font-size: 13px;
        width: auto;
    }
    .hero-box-text-2 {
        font-size: 1rem;
    }
}
  