.skills-bg {
    background: var(--background);
    height: auto;
    width: 100%;
    position: relative;
}

.skills-title {
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: var(--color-strong);
    font-weight: normal;
    letter-spacing: -0.75;
}

.skills-icons-box {
    display: flex;
    justify-content: space-between;
}

.skills-icons {
    width: 100px;
}

@media (max-width: 500px) {
    .skills-icons {
        width: 50px;
    }
}