#slider {
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}

#zoom {
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#zoom:after {
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background-color:#0CF;
    opacity:0;
    border-radius:5px;
    box-shadow:0 5px 15px 0 rgba(0,0,0,0.3);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 999;
}

#zoom:hover {
    transform:scale(1.06,1.06);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.wrapper{
    width: 100%;
  }

.carousel{
    max-width: 1200px;
    margin: auto;
}

.carousel .card{
    color: #fff;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}

.owl-dot{
    height: 15px;
    width: 45px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid var(--strong-color)!important;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}
  
.owl-dot.active,
.owl-dot:hover{
    background: var(--strong-color)!important;
}

@media (max-width: 450px) {
    #slider {
        height: 100%;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        width: 15px;
    }
}