@charset "UTF-8";
/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url(header.css);
@import url(main.css);
@import url(sobre.css);
@import url(cursos.css);
@import url(skills.css);
@import url(projetos.css);
@import url(contato.css);
@import url(footer.css);
@import url(slider.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    background-color: var(--body-bg);
    min-width: 320px;
    max-width: 1400px;
    margin: 0 auto;
    scroll-behavior: smooth;
}

/* variaveis */

:root {
    --body-bg: #fff;
    --background-black: #111;
    --strong-color: #6A5ACD;
    --text-black: #111111;
    --text-color: #3a3a3a;
    --text-color-light: #8d8d8d;
    --projetos-bg: rgb(226, 226, 226);
    --projetos-text: #8d8d8d;
    --contato-bg: #6A5ACD;
    --contato-text: #fff;
}

/* darkmode */
[data-theme="dark"] {
    --body-bg:#1f1f1f;
    --background-black: #fff;
    --strong-color: #E55462;
    --text-black: #fff;
    --text-color: #fff;
    --text-color-light: #424242;
    --projetos-bg: rgb(255, 255, 255);
    --projetos-text: #696969;
    --contato-bg: #ffff;
    --contato-text: #111;
}

strong {
    color: var(--strong-color);
}

img {
    max-width: 100%;
}

.checkbox-wrapper-54 input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper-54 *,
.checkbox-wrapper-54 ::after,
.checkbox-wrapper-54 ::before {
    box-sizing: border-box;
}

.checkbox-wrapper-54 .switch {
    --width-of-switch: 3em;
    --height-of-switch: 24px;
    --size-of-icon: 1em;
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    display: inline-block;
}

.checkbox-wrapper-54 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e3e3e4;
    transition: .4s;
    border-radius: 30px;
}

.checkbox-wrapper-54 .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
}

.checkbox-wrapper-54 input:checked + .slider {
    background-color: #303136;
}

.checkbox-wrapper-54 input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
