@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');

@import url(header.css);
@import url(main.css);
@import url(skills.css);
@import url(projetos-inicio.css);
@import url(contato.css);
@import url(footer.css);

@import url(projetos.lista.css);
@import url(projetos.css);
@import url(formacao.css);

#background-image-effect {
  background-image: url(../img/background.png);
  background-size: contain;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

html {
    min-width: 320px;
    max-width: 1400px;
    margin: 0 auto;
}

body {
    background: var(--background);
}

.slider-thumb::before {
    position: absolute;
    content: "";
    left: 35%;
    top: 20%;
    width: 350px;
    height: 350px;
    background: linear-gradient(90deg,var(--color-strong),var(--background));
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: 1;
    -webkit-animation: sliderShape 5s linear infinite;
}
  @keyframes sliderShape{
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
}


:root {
    --background: #1d1c1c;
    --color-strong: #4F98CA;
    --color-text: #fff;
    --hover-scrollbar: #03C988;
    --background-links: #363434;
}

/* lightmode */
[data-theme="light"] {
    --background: #eeeeee;
    --color-strong: #03C988;
    --color-text: #1c1c1c;
    --hover-scrollbar: #8983f7;
    --background-links: #e4e4e4;
}

.container {
    padding: 20px;
    max-width: 900px;
    margin: 0px auto;
}

::-webkit-scrollbar {
    width: 10px;
}
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-text);
}
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-strong);
}
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--hover-scrollbar);
}

.background-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media (max-width: 500px) {
  .slider-thumb::before {
    width: 300px;
    height: 300px;
    left: 10%;
    top: 40%;
  }
}